/* GLOBAL */
.block-btn {
  display: block;
  width: 100%;
  border: none;
  text-align: center;
}


/*Index*/
a[href="login"]{
  margin-left : 100px;
}

#space{
  width: 20px;
}

/* Trip Map View*/
#map {
  height: 100%;
}

html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

#markerInfo {
  list-style:none;
  margin-left: -40px;

}

#markerInfo li{
    display:inline;
}

/* Img responsive */

.responsive-img {
    width: 100%;
    max-width: 100%;
    height: auto;
}

/* LOGIN - REGISTER */

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../img/background_home.jpg");
    background-size: 100% auto;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* FOOTER */

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #18BC9C;
    color: white;
    text-align: center;
 }

.footer-content {
    line-height: 60px;
}

/* BUTTON TOP TOP  */

#btnToTop {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
  }

  #btnToTop:hover {
    background-color: #555;
  }
